$background-black: #000;
$background-white: #fdfdfd;

* {
  all: unset;
  font-family: JetBrains Mono NF;
}

.clock {
  font-size: 2rem;
}

.day {
  font-size: 8rem;
  letter-spacing: 0.5rem;
  font-weight: bold;
}

.container {
  background: rgba($background-white, 0);
  color: rgba($background-black, 1);
  padding-bottom: 4rem;
}

.condition {
  font-size: 0.9rem;
}

.temp {
  font-size: 1.3rem;
}

.system {
  background: rgba($background-black, 1);
  color: #fff;
  font-size: 1.05rem;
  padding: 0 20px;
}
