tmux/plugins/*
astro/
BraveSoftware/
cava/
curl-exit-code-to-string/
dconf/
Electron/
EOS-greeter.conf
EOS-initial-wallpaper.XFCE
eos-update-notifier.first_init
galculator/
gh/
GIMP/
gtk-3.0/
gtk-4.0/
helix/
htop/
kazam/
memos.json
mimeapps.list
neofetch/
nextjs-nodejs/
obsidian/
pavucontrol.ini
procps/
pulse/
reflector-simple-free-params.txt
spotify/
systemd/
Thunar/
user-dirs/dirs
user-dirs.locale
xed/
yay/
protonvpn/
Logseq/
Tusk/
configstore/
rclone/
go/
