layout {
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
                pane name="terminal"
                pane name="terminal"
        }
        pane {
            focus true
            command "nvim"
            name "editor"
        }
    }
}
